.bar {
    display: block;
    width: 25px; 
    height: 3px;
    margin: 5px;
    -webkit-transition: var(--transition);
    transition: var(--transition);
    background-color: black;
    position: relative;
}

.icon:hover > .bar {
    background-color: white;
}

.icon {
    all:unset;
    background-color: white;
    height: 35px;
    -webkit-transition: var(--transition);
    transition: var(--transition);
    position: relative;
    justify-content: center;
}

.icon:focus, .nav-item:focus, a:focus {       
    outline-style: solid;
    outline-color: blue;
    outline-width: 2px;
    -webkit-transition: none;
    transition: none;
}

.icon:hover {
    background-color: black;
    height: 35px;
}

.nav-hamburger.active .bar:nth-child(2) {
    opacity: 0;
}
.nav-hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}
.nav-hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.nav-nested {
    display: flex;
    flex-direction: column;
    position:relative;
    top: 0;
    gap:0;
    width: 100%;
    text-align: center;
    transition: var(--transition);
}

.nav-nested.active {
    min-height: 112px;
    top: 0;
    width: 100%;
    background-color: rgba(255,255,255,0.7);
}

