
.bar {
    display: block;
    width: 25px; 
    height: 3px;
    margin: 5px;
    -webkit-transition: var(--transition);
    transition: var(--transition);
    background-color: black;
    position: relative;
}

.icon:hover > .bar {
    background-color: white;
}

.icon {
    all:unset;
    background-color: white;
    height: 35px;
    -webkit-transition: var(--transition);
    transition: var(--transition);
    position: relative;
    justify-content: center;
}

.icon:focus, .nav-item:focus, a:focus {       
    outline-style: none;
    outline-color: none;
    outline-width: 2px;
    -webkit-transition: none;
    transition: none;
}

.icon:hover {
    background-color: black;
    height: 35px;
}

.nav-hamburger.active .bar:nth-child(2) {
    opacity: 0;
}
.nav-hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}
.nav-hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.nav-nested {
    display: flex;
    flex-direction: column;
    position:absolute;
    top: 55px;
    width: 100%;
    gap:0;
    text-align: center;
    transition: var(--transition);
    bottom: auto;
    max-width: 100px;
    border-style:solid;
    border-width: 1px;;
    border-color: rgba(255,255,255,0);
}

.nav-nested.active {
    background-color: rgba(255,255,255,1);
    border-style:solid;
    border-width: 1px;;
    border-color: black;
}

.nav-nested > div {
    border-style: var(--border-style);
    border-color: var(--border-color);
    padding: 5px;
    overflow: hidden;
}

.nav-nested > div > a {
    opacity: 0;
    transition: all 0.1s ease-in-out;
}

.nav-nested.active > div > a {
    opacity: 1;
}

.nav-item:hover {
    background-color: black;
    transition: var(--transition);
}

.nav-item:hover a  {
    color: white;
    transition: var(--transition);
    display: block;
}


.nav-hamburger {
    display: flex;
    justify-content: flex-end;   
}