{% extends "content_page.njk" %}
{% block main %}
    <div class="row">
        <div id="post" class="col-3">
            <h1 class="black_h1">Post</h1>
            <h2>{{ title }} </h2>
            <img src="{{ featuredImage | url }}" alt=""></img>
            <p>{{ content | safe }}</p>
            
        </div>
    </div>
{% endblock %}


