{# head info #}
<!DOCTYPE html>
<html>
  <head>
    {% include "head.njk"%}
  </head> 
  
  <body>
    <div class="grid-container">

      {# header #}
      {% include "header.njk" %}

      {# body #}
        {% block main %}
        {% endblock %}
      {# footer #}
      {% include "footer.njk" %}
    
    </div>

  {# Scripts #}
  {% include "scripts.njk"%}
</body>
</html>


