{% block start%}
<!DOCTYPE html>
<html>
    <head>
        <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>  
{% endblock%}
<section class="header">
{% block header %}
<div class="row-1">
        <div id="nav" class="col-12">
            <div class="margin">
              <h1 class="col-3">Leo Hardy</h1>
                  <div id="link-background" class="col-9">
                      <table id="links">
                        <tr id="nav_text">
                          <td><a href="/">Home</a></td>
                          <td><a href="/cv">Work</a></td>
                          <td><a href="/about">Music</a></td>
                        </tr>
                      </table>
                  </div>
                  <p class="col-12">Brighton</p>
            </div>
        </div>
</div>
{% endblock %}
</section>

<section class="main">
{% block main %}
{% endblock %}
</section>

<section class="footer">
{% block footer %}
<div class="row-3">
    <div id="footer-background" class="col-12">
        <table id="footer_links">
            <tr><td><a href="/">Home</a></td><tr>
            <tr><td><a href="/cv">Work</a></td></tr>
            <tr><td><a href="/about">Music</a></td></tr>
        </table>
    </div>
</div>
{% endblock %}
</section>


{% block end %}
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
    </body>
</html>
{% endblock %}


