---
permalink: /cv2/
---
{% extends "content_page.njk" %}
{% block main %}
    <div class="row">
        <div id="skills" class="col-3">
            <img src="/img/Leo_Crop.jpg" alt="" id="pic">
            <h1 id="name">Leo Hardy</h1>
            <h2 class="white-text" id="title">Senior Product Manager<h2>
            <h2 class="white-text">{{segmenttitle}}</h2>
            <table class="white-text">
                <tr>
                    <td><p class="white-text"><strong>{{ skill1title }} - </strong>{{ skill1body }}</p></td>     
                </tr>
                <tr>
                    <td><p class="white-text"><strong>{{ skill2title }} - </strong>{{ skill2body }}</p></td>
                </tr>
                <tr>
                    <td><p class="white-text"><strong>{{ skill3title }} - </strong>{{ skill3body }}</p></td>
                </tr>
                <tr>
                    <td><p class="white-text"><strong>{{ skill4title }} - </strong>{{ skill4body }}</p></td>
                </tr>
                <tr>
                    <td><p class="white-text"><strong>{{ skill5title }} - </strong>{{ skill5body }}</p></td>
                </tr>
                <tr>
                    <td><p class="white-text"><strong>{{ skill6title }} - </strong>{{ skill6body }}</p></td>
                </tr>
            </table>
        </div>
        <div id="main" class="col-9">
            <div id="summary">
              <h2>{{summaryTitle}}</h2>
              <p>{{summaryBody}}</p>
        <br>
        </div>
    </div>
    <div id="end" class="col-12">
    </div>
{% endblock %}
{% block end %}
{% endblock %}
