---
permalink: /cv2/
---
{% extends "content_page.njk" %}
{% block main %}
    <div class="row">
        <div id="skills" class="col-3">
            <img src="/img/Leo_Crop.jpg" alt="" id="pic">
            <h1 id="name">Leo Hardy</h1>
            <h2 class="white-text" id="title">Senior Product Manager<h2>
            <h2 class="white-text">{{skills.segmenttitle}}</h2>
            <table class="white-text">
                <tr>
                    <td><p class="white-text"><strong>{{ skills.skill1title }} - </strong>{{ skills.skill1body }}</p></td>     
                </tr>
                <tr>
                    <td><p class="white-text"><strong>{{ skills.skill2title }} - </strong>{{ skills.skill2body }}</p></td>
                </tr>
                <tr>
                    <td><p class="white-text"><strong>{{ skills.skill3title }} - </strong>{{ skills.skill3body }}</p></td>
                </tr>
                <tr>
                    <td><p class="white-text"><strong>{{ skills.skill4title }} - </strong>{{ skills.skill4body }}</p></td>
                </tr>
                <tr>
                    <td><p class="white-text"><strong>{{ skills.skill5title }} - </strong>{{ skills.skill5body }}</p></td>
                </tr>
                <tr>
                    <td><p class="white-text"><strong>{{ skills.skill6title }} - </strong>{{ skills.skill6body }}</p></td>
                </tr>
            </table>
        </div>
        <div id="main" class="col-5">
            <div id="summary">
              <h2>{{summary.summaryTitle}}</h2>
              <div class="card summaryBody">{{ summary.summaryBody | markdown | safe }}</div>
                <br>
            </div>
            <div id="experience">
                <h2>{{experience.experienceTitle}}</h2>
                <div id="card experienceBody">
                    {% include "experience.njk" %}
                </div>               
            <br>
            </div>
    </div>
    <div id="end" class="col-12">
    </div>
{% endblock %}
{% block end %}
{% endblock %}
