{% for item in collections.experiences %}
<table class="experienceTable {{ item.data.jobTitle }}">
<tr>
  <td class="experienceRole {{ item.data.jobTitle }}">
    <strong>Role:</strong>
    <span id="jobTitle">{{ item.data.jobTitle }}</span>
  </td> 
  <td>
    <strong>Date:</strong>
    <span id="jobDateFrom">{{ item.data.jobDateFrom }}</span>
    -
    <span id="jobDateTo">{{ "current" if item.data.currentJob else item.data.jobDateTo }}</span>
  </td>
<tr>
  <td>
    <strong>Company: </strong>
    <span id="jobCompany">{{ item.data.jobCompany }}</id>
  </td>
  <td>
      <strong>Location: </strong>
      <span id="jobLocation">{{ item.data.jobLocation }}</id>
  </td>
</tr>
<tr>
  <td colspan="2">
      <br>
      <span id="jobDetail">{{ item.data.jobDetail | markdown | safe }}</id>
  </td>
</tr>
</table>
<br>
{% endfor %}

