<div class="header-all">
    <div class="header-main">
        <h1 class="header-name">Leo Hardy</h1>
        <h3 class="header-location">Brighton</h3>
    </div>
    <div class="nav-hamburger">
        <div class="icon">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span> 
        </div>
    </div>
</div>
<div class="nav-nested">
        <div class="nav-item header-link-1"><a href="/">Home</a></div>
        <div class="nav-item header-link-2"><a href="/cv">Work</a></div>
        <div class="nav-item header-link-3"><a href="/music">Music</a></div>
    </div>
