<header class="header-all">
    <div class="header-main">
        <h1 class="header-name">Leo Hardy</h1>
        <h2 class="header-location">Brighton</h2>
    </div>
    <div class="nav-hamburger">
        <button class="icon" aria-expanded="false" aria-label="Main menu" tabindex="0">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span> 
        </button>
    </div>
</header>
<nav class="nav-nested">
        <div class="nav-item header-link-1"><a href="/">Home</a></div>
        <div class="nav-item header-link-2"><a href="/cv">Work</a></div>
        <div class="nav-item header-link-3"><a href="/music">Music</a></div>
</nav>
