--- 
permalink: /{{ url }}/
---

{# head info #}
<!DOCTYPE html>
<html>
  <head>
    {% include "head.njk" %}
  </head> 
  
  <body>
    <div class="static_container">
        
        {# header #}
        {% include "header.njk" %}

        {# body #}
        {% block main %}
        <h1 class="title">{{ title }}</h1>
        <div class="static_content">
            <p>{{ content | markdown | safe }}</p>
        </div>
        {% endblock %}

        {# footer #}
        {% include "footer.njk" %} 
    </div>

    {# Scripts #}
    {% include "scripts.njk"%}

  </body>
</html>